@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oleo+Script:wght@400;700&family=Ysabeau&display=swap');

@font-face {
	font-family: 'segoe-ui';
	src: url('/fonts/segoe-ui.ttf');
}

@font-face {
	font-family: 'jersey';
	src: url('/fonts/jersey.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.fade__in{
	animation: fade__in 1s ease forwards;
}

@keyframes fade__in {
	from {
		opacity: 0.5;
	}
	to {
		opacity: 1;
	}
}
